 @model IEnumerable<ChossonKallah.Models.CitiesClass> 
 
 



<script>
		 $(document).ready(function () {
			 var mydata = $('#RawDatas').parent('td').html();
			 $('#RawDatas').parent().parent().parent().parent('table').replaceWith(mydata);
		 
			 $("#AddressBookToggleAll").change(function () {
				 if ($(this).is(':checked')) {
					 $("input.k-checkbox[type=checkbox]").each(function () {
						 $(this).attr('checked', true);
					 }); 
				 } else {
					 $("input.k-checkbox[type=checkbox]").each(function () {
						  $(this).attr('checked', false);
					 });
				 }
			 }); 
		 }); 
 </script>
 


 
  


 
		 <table class="table table-striped table-bordered bootstrap-datatable datatable dataTable" >
			 <tr>
				 <th>
				 </th>
				 <th >
					 @Html.DisplayNameFor(model => model.Cityname)
				 </th>
				 <th >
					 @Html.DisplayNameFor(model => model.Stateid)
				 </th>
				 <th >
					 @Html.DisplayNameFor(model => model.Isactive)
				 </th>
				 <th >
					 @Html.DisplayNameFor(model => model.Isdeleted)
				 </th>
				 <th >
					 @Html.DisplayNameFor(model => model.Createdon)
				 </th>
				 <th >
					 @Html.DisplayNameFor(model => model.Deletedon)
				 </th>
				 <th>Action</th>
			 </tr>
		 @foreach (var item in Model) {
			 <tr>
				 <td>
					 @Html.HiddenFor(model => item.Cityid)
				 </td>
				 <td >
					 @Html.DisplayFor(model => item.Cityname)
				 </td>
				 <td >
					 @Html.DisplayFor(model => item.Stateid)
				 </td>
				 <td >
					 @Html.DisplayFor(model => item.Isactive)
				 </td>
				 <td >
					 @Html.DisplayFor(model => item.Isdeleted)
				 </td>
				 <td >
					 @Html.DisplayFor(model => item.Createdon)
				 </td>
				 <td >
					 @Html.DisplayFor(model => item.Deletedon)
				 </td>
				 <td><a class="btn btn-info" style="padding:2px 7px; margin:2px;" href="/Cities/Edit?Cityid=@item.Cityid "><i class="halflings-icon white edit"></i></a>  
				 <a class="btn btn-success" style="padding:2px 7px; margin:2px;" href="/Cities/Details?Cityid=@item.Cityid "><i class="halflings-icon white zoom-in"></i></a>  
				 <a class="btn btn-danger" style="padding:2px 7px; margin:2px;" href="/Cities/Delete?Cityid=@item.Cityid" onclick="return confirm('Are you sure you want to delete this record.'); "><i class="halflings-icon white trash"></i></a> </td>
			 </tr>
		 }
		 </table>
		 
	 


 

   
