@model ChossonKallahAdmin.EF6.Category

@{
    ViewBag.PageHead = "Add Category";
    Layout = "~/Areas/Xpanel/Views/Shared/HomeLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $('div.header-nav').css('display', 'none');
    });

</script>
<script src="~/Content/js/EmailValidation.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="alert alert-success" id="success" style="margin-top:20px;display:none">
        <strong>Success!</strong> <span class="successmessage"></span>
    </div>
    <div class="alert alert-danger" id="error" style="margin-top:20px;display:none">
        <strong>Error!</strong> <span class="errormessage"></span>
    </div>
    if (!string.IsNullOrEmpty(Convert.ToString(ViewBag.CategoryExists)))
    {
        <div class="alert alert-danger" id="error1" style="margin-top:20px">
            <strong>Error!</strong> <span class="errormessage1">@Convert.ToString(ViewBag.CategoryExists)</span>
        </div>
    }
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">Add Category</div>
        <div class="panel-body">
            <div class="row clearfix">
                <div class="form-group">
                    @Html.HiddenFor(model => model.CategoryId)
                </div>
                <div class="clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group ">
                        <label class="control-label">Category Name&nbsp; <label style="color:red;margin-bottom:0px;">*</label></label>
                        @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CategoryName, "", new { @style = "color:red;margin-bottom:0px;font-size: 11px" })

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group ">
                        <label class="control-label">Category URL&nbsp; <label style="color:red;margin-bottom:0px;">*</label></label>
                        @Html.TextBoxFor(model => model.CategoryURL, new { @class = "form-control", @onkeypress = "return onlyAlphabetsandNumber(event)", @onpaste = "return false" })
                        @Html.ValidationMessageFor(model => model.CategoryURL, "", new { @style = "color:red;margin-bottom:0px;font-size: 11px" })

                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group ">
                        <label class="control-label">Parent Category</label>
                        @Html.DropDownListFor(model => model.ParentCategoryID, (IEnumerable<SelectListItem>)(ViewBag.Categories), "--Select Parent Category--", new { @class = "form-control" })
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 form-group ">
                        <label class="control-label">Is Featured Category ?</label>
                        @Html.EditorFor(model => model.IsFeaturedCategory, new { @class = "form-control" })
                    </div>
                </div>
                <div class="clearfix">

                    <div class="col-lg-6 col-md-6 col-sm-6 form-group ">
                        <label class="control-label">Is Active</label>
                        @Html.EditorFor(model => model.IsActive, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" onclick="return chckvalidation()" class="btn  btn-primary pull-left" style="margin-right:12px;" value="Save" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn  btn-primary pull-left", @style = "margin-right:12px;" })
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Content/js/EmailValidation.js"></script>
<script>

    function chckvalidation() {
        $('#error1').hide();
        debugger;
        var IsError = true;
        var errormessage = "";
        if ($('#CategoryName').val() == "") {
            $('.errormessage').html('<br/> - Category Name is required.');
            errormessage = $('.errormessage').html();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            IsError = false;
            $('#error').show();
        }
        if ($('#CategoryURL').val() == "") {
            $('.errormessage').html(errormessage + "<br/> - Category URL is required.");
            errormessage = $('.errormessage').html();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            IsError = false;
            $('#error').show();
        }

        return IsError;
    }
</script>

<style>
    body {
        background-color: #EDEDED;
    }

    .fls {
        padding: 5px 20px;
    }

    .dfv {
        padding: 5px 20px;
    }
</style>
